/* 底部区域 */
.footer {
	border-top: 1px solid #e0e0e0;
	min-width: 1200px;
}

.footerbox .ftop .fleft {
	width: 701px;
	margin-left: 150px;
	padding: 50px 50px 50px 0px;
}

.fright {
	margin-top: 50px;
	border-left: 1px solid #ccc;
	padding-left: 50px;
}

.footerbox .fbom {
	text-align: center;
	line-height: 35px;
}

.footerbox .fbom a:hover {
	color: #ff7101;
}