@charset "utf-8";
/*public*/
body,div,header,section,nav,footer,h1,a,p,ul,li,input {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
	color: #8f8f8f;
}

img {
	border: none;
	vertical-align: top;
}

body {
	font-size: 14px;
	font-family: "微软雅黑";
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}